<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>La tour d'argent</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/carte.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>
    <header>
        <nav id="menu" class="center-col">
            <div>
                <div id="burger">
                    <span></span>
                </div>
            </div>
            <a href="/"><img src="/img/small-logo.svg" alt="Logo"></a>
            <ul>
                <li><a href="/heritage">Une Tour De Prestige</a></li>
                <li><a href="/un_gout_nouveau">Un Goût Nouveau</a></li>
                <li><a href="/carte">Carte & Menu</a></li>
                <li><a href="/reservation">Réservation</a></li>
                <li><a href="https://www.comptoirdelatour.com/fr" target="_blank">E-boutique</a></li>
                <li><a href="#">Un Tour D'univers</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <h1 class="title-menu">MENU</h1>
            </div>
            <div class="flatterie">
                <p> " Je souhaite donner la même émotion dans l’assiette qu’en regardant à travers la baie vitrée. "</p>
            </div>

            <section class="proposition">
                <div class="first-propos"></div>
                <div class="second-propos"></div>
                <div class="third-propos"></div>
            </section>


            <div class="container-menu-choice">
                <div class="choice-menu">
                    <p>au tour du dejeuner</p>
                </div>
                <div class="choice-menu">
                    <p>mise en bouche</p>
                </div>
                <div class="choice-menu">
                    <p>l'art de la fraicheur</p>
                </div>
                <div class="choice-menu">
                    <p>fromage</p>
                </div>
            </div>
        </section>

        <div class="arrow-indication"></div>

        <section class="text-menu">
            <div class="left-image"></div>
            <div class="center-menu">
                <h2>autour du déjeuner</h2>
                <p class="ingredients">QUENELLE DE BROCHET HOMMAGE AU GRAND-PÈRE Sauce fleurette gratinée aux écrevisses, oxalis</p>
                <hr>

                <h3 class="bidouille">GROSSES ASPERGES BLANCHES BIO DE FRÉDÉRIC POUPARD</h3>
                <span class="babou">A la crème de citron de Menton, praliné salé à l'amande,
                jus d'asperges émulsionné à l'huile d'olive "Lessatini",
                soup d'asperges glacée</span>
                <hr>

                <h3 class="bidouille">AILE DE RAIE BOUCLÉE DE PETIT BATEAU, CITRON DE MENTON </h3>
                <span class="babou">Câpres, amandes, salicornes, poudre de noisettes</span>
                <hr>

                <h3 class="bidouille">FILET DE CANETON</h3>
                <span class="babou">Filet de caneton rôti aux épices, émulsion de vinaigre réglissé, navets confits, oignons nouveaux rôtis</span>
                <hr>

                <h3 class="bidouille">FRAISES CIFLORETTE XXL</h3>
                <span class="babou">Sur un biscuit onctueux Traou Mad, crème glacée italienne à la fève Tonka marbré de granité</span>
                <hr>
            </div>
            <div class="rigth-image"></div>
        </section>


        <section class="text-menu">
            <div class="left-image2"></div>
            <div class="center-menu">
                <h2>autour du caneton croisé de "LILIANE BURGAUD"</h2>
                <p>QUENELLE DE BROCHET HOMMAGE AU GRAND-PÈRE Sauce fleurette gratinée aux écrevisses, oxalis</p>
                <hr>

                <h3 class="bidouille">GROSSES ASPERGES BLANCHES BIO DE FRÉDÉRIC POUPARD</h3>
                <span class="babou">A la crème de citron de Menton, praliné salé à l'amande,
                jus d'asperges émulsionné à l'huile d'olive "Lessatini",
                soup d'asperges glacée</span>
                <hr>

                <h3 class="bidouille">AILE DE RAIE BOUCLÉE DE PETIT BATEAU, CITRON DE MENTON </h3>
                <span class="babou">Câpres, amandes, salicornes, poudre de noisettes</span>
                <hr>

                <h3 class="bidouille">FILET DE CANETON</h3>
                <span class="babou">Filet de caneton rôti aux épices, émulsion de vinaigre réglissé, navets confits, oignons nouveaux rôtis</span>
                <hr>

                <h3 class="bidouille">FRAISES CIFLORETTE XXL</h3>
                <span class="babou">Sur un biscuit onctueux Traou Mad, crème glacée italienne à la fève Tonka marbré de granité</span>
                <hr>
            </div>
            <div class="rigth-image2"></div>
        </section>



        <section class="text-menu">
            <div class="left-image3"></div>
            <div class="center-menu">
                <h2>mise en bouche</h2>
                <span class="babou">QUENELLE DE BROCHET HOMMAGE AU GRAND-PÈRE 
                Sauce fleurette gratinée aux écrevisses, oxalis</span>
                <hr>

                <h3 class="bidouille">GROSSES ASPERGES BLANCHES BIO DE FRÉDÉRIC POUPARD</h3>
                <span class="babou">A la crème de citron de Menton, 
                praliné salé à l'amande, jus d'asperges émulsionné à 
                l'huile d'olive "Lessatini", soup d'asperges glacée</span>
                <hr>

                <h3 class="bidouille">AILE DE RAIE BOUCLÉE DE PETIT BATEAU, CITRON DE MENTON </h3>
                <span class="babou">Câpres, amandes, salicornes, poudre de noisettes</span>
                <hr>

                <h3 class="bidouille">FILET DE CANETON</h3>
                <span class="babou">Filet de caneton rôti aux épices, 
                émulsion de vinaigre réglissé, navets confits, 
                oignons nouveaux rôtis</span>
                <hr>

                <h3 class="bidouille">FRAISES CIFLORETTE XXL</h3>
                <span class="babou">Sur un biscuit onctueux Traou Mad, 
                crème glacée italienne à la fève Tonka marbré de granité</span>
                <hr>
            </div>
            <div class="rigth-image3"></div>
        </section>
    </main>
    <script src="public/js/romel.js"></script>
</body>

</html>
