<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>La tour d'argent</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/heritage.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>

    <header>
        <nav id="menu" class="center-col">
            <div>
                <div id="burger">
                    <span></span>
                </div>
            </div>
            <a href="/"><img src="/img/small-logo.svg" alt="Logo"></a>
            <ul>
                <li><a href="/heritage">Une Tour De Prestige</a></li>
                <li><a href="/un_gout_nouveau">Un Goût Nouveau</a></li>
                <li><a href="/carte">Carte & Menu</a></li>
                <li><a href="/reservation">Réservation</a></li>
                <li><a href="https://www.comptoirdelatour.com/fr" target="_blank">E-boutique</a></li>
                <li><a href="#">Un Tour D'univers</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div class="le-chef">
                <div class="el-jefe"></div>
                <div class="history-chief">
                    <h2>philippe labbé

                        <span>champenois la ténacité</span>
                    </h2>
                    <p>
                        Notre chef propose une cuisine traditionnelle revisitée qui connaît depuis plusieurs années les honneurs des gastronomes du monde entier. <br><br>Il affectionne les mariages de saveurs originales sublimant des produits de haute qualité et apporte une attention toute particulière à la carte des desserts qui doit être en parfaite harmonie avec sa cuisine.
                    </p>
                    <div class="signature"></div>
                    <p class="recommandation">recommandation du chef</p>
                </div>
            </div>
            <div class="terrail">
                <h1>LA FAMILLE TERRAIL</h1>
            </div>
            <div class="the-family">
                <div class="andre"></div>
                <div class="claude"></div>
                <div class="__andre"></div>
            </div>
            <div class="the-family-text">
                <div class="description">
                    <h2 class="name">André</h2>
                    <p class="comments">
                        André Terrail, le grand-père de l’actuel propriétaire, rachète la Tour d’Argent à Frédéric Delair en 1914 et fait entrer dans sa légende les recettes d’Adolphe Dugléré ainsi que les rarissimes bouteilles du Café Anglais. Entrepreneur infatigable, la Tour rejoint la collection de ses nombreux établissements parmi lesquels on compte le San Régis, l’Hôtel Bellman, le Georges V à Paris, l’Hôtel St Christophe à Miramar d’Esterel, l’Escargot Montorgueil et Potel & Chabot.
                    </p>
                </div>
                <div class="description">
                    <h2 class="name">Claude</h2>
                    <p class="comments">
                        André Terrail rejoint l’entreprise familiale en 2003 et succède à son père en 2006. Il entame ainsi un nouveau chapitre dans l’illustre histoire de cet établissement. Tout en satisfaisant aux attentes d’une clientèle exigeante il s’attache à faire évoluer la Maison en respectant son héritage. Il s’appuie sur une équipe de grands professionnels pour embrasser l’esprit de son époque. André Terrail est titulaire d’un Bachelor of Science in Business Administration de Babson College et d’un Master of Business Administration de l’INSEAD.
                    </p>
                </div>
                <div class="description">
                    <h2 class="name">Andre</h2>
                    <p class="comments">
                        En 1947, André Terrail transmet les rênes de la Tour d’Argent à son fils, Claude. Sous sa direction, la Tour d’Argent ouvre un second restaurant à Tokyo, célèbre son 400ème anniversaire, et connaît de nombreuses évolutions la maintenant au plus haut niveau de la gastronomie mondiale. Entrepreneur visionnaire et meneur d’hommes, l’histoire retiendra un grand Maître de Maison dont la maxime favorite était : “Il n’y a rien de plus sérieux que le plaisir”. Disparu en 2006, son fils André perpétue l’histoire de cette grande Maison.
                    </p>
                </div>
            </div>
        </section>

        <section class="history-container scrollme">
            <h3 class="history">notre histoire</h3>
            <div class="preambule ">

                <div class="preambule-img animateme" 
                         data-when="enter"
                        data-from="0.75"
                        data-to="0"
                        data-opacity="0"
                        data-translatex="-1000">
                </div>

                <div class="preambule-container-text">
                    <h3 class="preambule-title">préambule</h3>
                    <p class="preambule-paragraph">Chaque Tour a sa légende, on le sait, et la nôtre n’y manque point. Depuis maintenant près d’un siècle, à travers les vicissitudes de l’histoire, elle a maintenu une tradition et un honneur, presque un culte.</p>
                    <p class="preambule-paragraph-2">Car l’ancienneté des lieux et l’authenticité des anecdotes comptent moins, finalement, que la vivante ferveur qu’ont su entretenir André Terrail, puis après lui, son fils Claude et maintenant André. Passent les lustres et les personnalités, changent les menus et les modes, la table reste mise à La Tour d’Argent.</p>
                </div>
            </div>
        </section>

        <section class="hostellerie scrollme">
            <div class="preambule">
                <div class="preambule-container-text">
                    <h3 class="preambule-title">une hostellerie au bord du fleuve seine</h3>
                    <p class="preambule-paragraph">Sous Henri III, en face du port aux vins et juste après la Porte Saint- Bernard un certain Rourteau ouvre une auberge élégante qui accueillera les seigneurs du Roi, las de hanter les tripots et les coupe-gorges...</p>
                    <p class="preambule-paragraph-2">Le Château de la Tournelle adjacent bâti d’une pierre champenoise aux reflets argentés donne son nom à l’établissement qui prend ainsi le nom d’Hostellerie de la Tour d’Argent.</p>
                </div>
                <div class="hostellerie-img animateme"
                         data-when="enter"
                         data-from="1.1"
                         data-to="0"
                         data-opacity="0"
                         data-translatex="-200"></div>
            </div>
        </section>


        <section class="fourchette-container">
            <div class="preambule">
                <div class="fourchette-img"></div>
                <div class="preambule-container-text">
                    <h3 class="preambule-title">les premières fourchettes</h3>
                    <p class="preambule-paragraph">Déjà utilisée dans quelques maisons italiennes, la fourchette fait son apparition en France à la Tour d’Argent. Afin de ne pas tâcher la fraise immaculée que la mode imposait au cou des gentilshommes, Henri IV inaugura cet ustensile par un dîner qui fit grand bruit dans Paris.</p>
                    <p class="preambule-paragraph-2">Dès lors, la Tour d’Argent devint incontournable, et Henri IV y venait régulièrement déguster “La Poule d’Afrique ou l’Anguille des Bois” et de “Grosses tranches de Pâté de Héron”.</p>
                </div>
            </div>
        </section>

        <section class="cuisinier">
            <div class="preambule scrollme">
                <div class="preambule-container-text animateme" data-when="enter" data-from="1.5" data-to="0" data-opacity="0" data-rotatex="100">
                    <h3 class="preambule-title">cuisinier-oyer-traiteur</h3>
                    <p class="preambule-paragraph">Sous Henri III, en face du port aux vins et juste après la Porte Saint- Bernard un certain Rourteau ouvre une auberge élégante qui accueillera les seigneurs du Roi, las de hanter les tripots et les coupe-gorges...</p>
                    <p class="preambule-paragraph-2">Le Château de la Tournelle adjacent bâti d’une pierre champenoise aux reflets argentés donne son nom à l’établissement qui prend ainsi le nom d’Hostellerie de la Tour d’Argent.</p>
                </div>
                <div class="cuisinier-img"></div>
            </div>
        </section>

    </main>

    <footer>
            <p><a class="mentions">MENTIONS LÉGALES</a> | © 2017 <a href="/">TOUR D’ARGENT</a> | TOUT DROITS RÉSERVÉS </p>
        </footer>

    <script src="/js/jquery.scrollme.min.js"></script>
</body>

</html>
