<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>La tour d'argent</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/ungoutnouveau.css">
    <link rel="stylesheet" href="/css/mentions.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display">
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
</head>

<body>
    <main>
        <section class="section-header">
            <header>
                <nav id="menu">
                    <a href="index.html"><img src="/img/small-logo.svg" alt="Logo"></a>
                    <ul>
                        <li><a href="/heritage">Une Tour De Prestige</a></li>
                        <li><a href="/un_gout_nouveau">Un Goût Nouveau</a></li>
                        <li><a href="/carte">Carte & Menu</a></li>
                        <li><a href="/reservation">Réservation</a></li>
                        <li><a href="https://www.comptoirdelatour.com/fr" target="_blank">E-boutique</a></li>
                        <li><a href="#">Un Tour D'univers</a></li>
                    </ul>
                </nav>
            </header>
        </section>

        <section class="history-container">
            <h3 class="history">notre histoire</h3>
            <div class="preambule">
                <div class="preambule-img"></div>
                <div class="preambule-container-text">
                    <h3 class="preambule-title">la cave</h3>
                    <p class="preambule-paragraph">David Ridgway est notre Chef Sommelier et c’est grâce à lui que la Tour d’Argent s’est dotée de l’une des caves à vins les plus riches de France et probablement du monde.</p>
                    <p class="preambule-paragraph-2">Ses fonctions ne se limitent pas à gérer la cave, mais surtout à partager avec la clientèle de la Tour son expertise sans pareille et lui procurer une expérience culinaire du plus haut niveau. Grâce à lui nous détenons le “WineSpectator Grand Award” depuis 1986.

                    </p>
                </div>
            </div>
        </section>

        <section class="hostellerie">
            <div class="preambule">
                <div class="preambule-container-text">
                    <h3 class="preambule-title">le boulanger de la tour</h3>
                    <p class="preambule-paragraph">Ancrée depuis toujours dans les terroirs et la tradition, il était dans l’ordre des choses que la Tour d’Argent ouvre un jour sa boulangerie. Le Boulanger de la Tour, Alexis Bourgeot a pris ses quartiers dans cette nouvelle boutique juste en face de la Tour ; 2, rue du Cardinal Lemoine. Agé de 26 ans, Alexis a toujours voulu devenir boulanger. Passé par la pâtisserie de Cyril Lignac et par la Boulangerie des Invalides de Philippe-Marc Jocteur, Alexis a le goût du travail bien fait, le respect du produit, un joli savoir-faire et recherche la pleine satisfaction de ses clients. </p>
                    <p class="preambule-paragraph-2">Dans son bel écrin de marbre clair et de bois massif avec un espace ouvert sur l’atelier de fabrication, les pains tout justes sortis du four apparaissent en majesté : baguettes, tourtes de meule, pains scandinave, pains complets, pains au maïs, pains Punchy et bien d’autres encore.</p>
                </div>
                <div class="hostellerie-img"></div>
            </div>
        </section>

        <section class="fourchette-container">
            <div class="preambule">
                <div class="fourchette-img"></div>
                <div class="preambule-container-text">
                    <h3 class="preambule-title">La Rôtisserie d’Argent</h3>
                    <p class="preambule-paragraph">À la Rôtisserie d’Argent, maison vivante et chaleureuse, on ne se dédit pas : on assume pleinement notre héritage gastronomique bourgeois. Sympathique bouchon lyonnais acquis en 1989 par Claude Terrail, le restaurant a naturellement évolué au fil des ans pour devenir un bistrot typiquement parisien. Sa fameuse rôtissoire est le cœur des lieux, un cœur qui ne s’arrête jamais de battre et anime les murs de cet esprit “maison de campagne” en plein Paris, loin des snobismes d’un jour.</p>
                    <p class="preambule-paragraph-2">Idéalement située Rive gauche entre les bords de Seine et la montagne Sainte-Geneviève, à deux pas du Quartier Latin, la Rôtisserie d’Argent fait de l’œil aux îles et Notre-Dame. Blottie contre sa grande sœur la Tour d’Argent, elle en respecte les valeurs, pour le plus grand plaisir de sa clientèle aussi exigeante qu’éclectique.
                    </p>
                </div>
            </div>
        </section>


        <section>
            <div class="mentions-legales">
                <img src="/img/closer.svg" alt="Salade">
                <h1>mentions légales</h1>
                <p>La Tour d’Argent, société anonyme au capital de 4.573.471 euros, dont le siège social est situé 15-17, quai de la Tournelle, 75005 Paris (+33 (0)1 43 54 23 31), immatriculée sous le numéro RCS Paris B 349 610 006 est l’éditeur du site web de la Tour d’Argent.</p>
                <p>Le directeur de la publication est Monsieur André Terrail.</p>
                <p>Le site Internet de la Tour d’Argent est une œuvre de l’esprit protégée par les lois de la propriété intellectuelle.</p>
                <p>Le site et chacun des éléments qui le composent sont la propriété exclusive de la Tour d’Argent.</p>
                <p>Toute reproduction ou représentation, intégrale ou partielle, du site ou quelconque élément qui le compose, est interdite de même que leur altération.</p>
                <p>Les marques et noms de domaine qui apparaissent sur le site Internet de la Tour d’Argent sont la propriété exclusive de la Tour d’Argent.</p>
                <p>Toute reproduction ou utilisation de ces marques ou noms de domaine, de quelque manière et à quelque titre que ce soit, est interdite.</p>
                <p>La création de liens hypertextes vers le site Internet de la Tour d’Argent ne peut être faite qu’avec l’autorisation écrite et préalable de la Tour d’Argent.</p>
                <p>La Tour d’Argent décline toute responsabilité concernant le contenu de sites liés au site Internet de la Tour d’Argent.</p>
                <p>La Tour d’Argent est susceptible de collecter vos données personnelles. Seule la Tour d’Argent est destinataire de ces données personnelles.</p>
                <p>La Tour d’Argent est susceptible de transmettre ces données personnelles à ses partenaires.</p>
                <p>Conformément à la loi “informatique et libertés” du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant au Département Communication, 15, quai de la Tournelle, 75005 Paris ou par e-mail à secretariat@tourdargent.com</p>
                <p>La conservation de vos données personnelles a fait l’objet d’une déclaration simplifiée à la CNIL enregistrée sous le numéro 1425472.</p>
                <p>La Tour d’Argent souhaite implanter un cookie dans votre ordinateur. Il stocke des informations relatives à votre navigation sur notre site (les pages que vous avez consultées, la date et l’heure de la consultation, etc.). Nous pourrons lire ces informations lors de vos prochaines visites.</p>
                <p>La durée de conservation de ces informations dans votre ordinateur est infinie. Ce cookie ne nous permet pas de vous identifier. Vous pouvez vous opposer à l’enregistrement des cookies en paramétrant votre navigateur.</p>
                <p>La Tour d’Argent a fait tous ces efforts pour s’assurer que les informations accessibles par l’intermédiaire de son site Internet sont exactes. Cependant, nous ne garantissons en aucune manière que ces informations soient exactes, complètes et à jour.</p>
                <p>La Tour d’Argent n’assure aucune garantie, expresse ou tacite, concernant tout ou partie de son site Internet.</p>
                <p>En aucun cas, La Tour d’Argent ne peut être tenue pour responsable d’un quelconque dommage direct ou indirect, quelle qu’en soit la nature, découlant de l’utilisation de son site Internet.</p>
                <p>© La Tour d’Argent 2017</p>
            </div>
        </section>

        <footer>
            <p><a class="mentions">MENTIONS LÉGALES</a> | © 2017 <a href="/">TOUR D’ARGENT</a> | TOUT DROITS RÉSERVÉS </p>
        </footer>

    </main>

    <script src="public/js/jquery.scrollme.min.js"></script>
    <script>
        $(window).scroll(function() {
            var gargamel = 800;

            if ($('body').scrollTop() >= gargamel) {

                $('.mentions-legales img').css({
                    "position": 'fixed',
                }, 2000);

            } else {
                $('.mentions-legales img').css({
                    "position": '',
                }, 2000);
            }

        })

    </script>
    <script>
        $("footer p a").click(function() {
            $(".mentions-legales").fadeIn();
            window.scrollTo(0, 0);
        });

        $(".mentions-legales img").click(function() {
            $(".mentions-legales").fadeOut();
            $("section").fadeIn();
        });

    </script>
</body>

</html>
